.contenedorCartItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cartItem {
    width: 300px;
    font-size: 15px;
    border: solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.deleteTrash {
    font-size: 15px;
    
}