.item__cart:hover {
  box-shadow: 0 0 10px rgb(220, 220, 220);
}

.titleCard {
  color: #e4f70a;
}

.categoryCard {
  font-size: 10px;
}
.btnCard {
  border: #e4f70a;
  background-color: #e4f70a;
  color: white;
}
