.FormContainer {
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.Textfield {
  width: 400px;
}

.textForm {
  color: #e4f70a;
}

.btnASendAction {
  background: rgba(229, 248, 10, 1);
  background: radial-gradient(circle, rgba(229, 248, 10, 1) 0%);
  color: white;
  height: 54px;
  width: 400px;
  border-radius: 8px;
  font-size: 18px;
  transition: background, color 0.5s;
  outline: rgba(229, 248, 10, 1);
  border: none;
  margin: 10px;
}

.btnASendAction:hover {
  color: rgba(229, 248, 10, 1);
  background: rgb(0, 0, 0);
  background: radial-gradient(circle, rgb(11, 4, 4) 77%, rgb(0, 0, 0) 100%);
}
